!!!
%html
  %head
    %title Mega super puper
    = stylesheet_link_tag :all
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', 'rails', 'application'
    = csrf_meta_tag 
%body
  .wrapper
    #header
      %h1
        BANZAI
      this is a test project for background audioplayer
    .content
      = yield          
    .push
  
  .footer
    .nav
      .hint
        Navigation links (that respond with json):
      - Post.all.each do |post|
        = link_to "#{post.title}", post_path(post), :remote => true
    %br
    %h3
      = link_to 'New Post', new_post_path  
